@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #countryDropdown, #stateDropdown, #districtDropdown, #cityDropdown, #universityDropdown {
    height: 35px;
    max-width: 400px;
}

</style>

<h1>Welcome.........!</h1>

@{
    ViewData["Title"] = "Location Form";
}

<h1>Form view</h1>

@* 





<br />
<br />
<br />
<br />
<br />
<br />
<br /> *@


<form>
    <div class="form-group">
        <label for="countryDropdown">Country</label>
        <select class="form-control" id="countryDropdown">
            <option value="">Select Country</option>
            @foreach (var country in Model)
            {
                <option value="@country.CountryCode">@country.CountryName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="stateDropdown">State</label>
        <select class="form-control" id="stateDropdown">
            <option value="">Select State</option>
        </select>
    </div>

    <div class="form-group">
        <label for="districtDropdown">district</label>
        <select class="form-control" id="districtDropdown">
            <option value="">Select district</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cityDropdown">City</label>
        <select class="form-control" id="cityDropdown">
            <option value="">Select City</option>
        </select>
    </div>

    <div class="form-group">
        <label for="universityDropdown">University</label>
        <select class="form-control" id="universityDropdown">
            <option value="">Select University</option>
        </select>
    </div>
</form>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

        $(function () {
            $("#countryDropdown").select2();
        });


    $(document).ready(function () {
        $('#countryDropdown').change(function () {
            var selectedCountryId = $(this).val();

            $('#stateDropdown').empty().append($('<option>').val('').text('Select State'));

            $.ajax({
                url: '/States',
                type: 'GET',
                data: { countryId: selectedCountryId },
                success: function (response) {
                    $.each(response, function (index, state) {
                        $('#stateDropdown').append($('<option>').val(state.stateId).text(state.stateName));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); 
                }
            });
        });
    });

    $(document).ready(function () {
        $('#stateDropdown').change(function () {
            var selectedStateId = $(this).val();

            $('#districtDropdown').empty().append($('<option>').val('').text('Select District'));

            $.ajax({
                url: '/Districts', 
                type: 'GET',
                data: { stateId: selectedStateId },
                success: function (response) {
                    $.each(response, function (index, district) {
                        $('#districtDropdown').append($('<option>').val(district.districtId).text(district.districtName));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); 
                }
            });
        });

        $('#districtDropdown').change(function () {
            var selectedDistrictId = $(this).val();

            $('#cityDropdown').empty().append($('<option>').val('').text('Select City'));

            $.ajax({
                url: '/cities', 
                type: 'GET',
                data: { districtId: selectedDistrictId },
                success: function (response) {
                    $.each(response, function (index, city) {
                        $('#cityDropdown').append($('<option>').val(city.cityId).text(city.locality));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); 
                }
            });
        });
    });

    $(document).ready(function () {
        $('#countryDropdown').change(function () {
            var selectedCountryId = $(this).val();

            $('#universityDropdown').empty().append($('<option>').val('').text('Select University'));

            $.ajax({
                url: '/University', 
                type: 'GET',
                data: { countryId: selectedCountryId },
                success: function (response) {
                    $.each(response, function (index, university) {
                        $('#universityDropdown').append($('<option>').val(university.universityId).text(university.name));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); 
                }
            });
        });
    });




</script>



@* 
<!-- JavaScript code -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Event handler for country dropdown change
        $('#countryDropdown').change(function () {
            var selectedCountryId = $(this).val();

            // Clear state dropdown
            $('#stateDropdown').empty().append($('<option>').val('').text('Select State'));

            // Fetch states via AJAX
            $.ajax({
                url: '/RegeistrationController/GetStates', // Update the URL to match your controller action
                type: 'GET',
                data: { countryId: selectedCountryId },
                success: function (response) {
                    // Populate state dropdown with fetched states
                    $.each(response, function (index, state) {
                        $('#stateDropdown').append($('<option>').val(state.StateId).text(state.StateName));
                    });
                }
            });
        });
    });
</script> *@

@*  @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Load countries
            $.ajax({
                url: '/RegeistrationForm_MVC/GetCountries',
                type: 'GET',
                success: function (response) {
                    $.each(response, function (index, country) {
                        $('#countryDropdown').append($('<option>').val(country.Id).text(country.Name));
                    });
                }
            });
        }
    </script>
}
    } *@
        @*
            // Handle country change event
            $('#countryDropdown').change(function () {
                var countryId = $(this).val();
                $('#stateDropdown').empty().append($('<option>').val('').text('Select State'));
                $('#districtDropdown').empty().append($('<option>').val('').text('Select District'));
                $('#cityDropdown').empty().append($('<option>').val('').text('Select City'));

                if (countryId) {
                    // Load states
                    $.ajax({
                        url: '/Location/States?countryId=' + countryId,
                        type: 'GET',
                        success: function (response) {
                            $.each(response, function (index, state) {
                                $('#stateDropdown').append($('<option>').val(state.Id).text(state.Name));
                            });
                        }
                    });
                }
            });

            // Handle state change event
            $('#stateDropdown').change(function () {
                var stateId = $(this).val();
                $('#districtDropdown').empty().append($('<option>').val('').text('Select District'));
                $('#cityDropdown').empty().append($('<option>').val('').text('Select City'));

                if (stateId) {
                    // Load districts
                    $.ajax({
                        url: '/Location/Districts?stateId=' + stateId,
                        type: 'GET',
                        success: function (response) {
                            $.each(response, function (index, district) {
                                $('#districtDropdown').append($('<option>').val(district.Id).text(district.Name));
                            });
                        }
                    });
                }
            });

            // Handle district change event
            $('#districtDropdown').change(function () {
                var districtId = $(this).val();
                $('#cityDropdown').empty().append($('<option>').val('').text('Select City'));

                if (districtId) {
                    // Load cities
                    $.ajax({
                        url: '/Location/Cities?districtId=' + districtId,
                        type: 'GET',
                        success: function (response) {
                            $.each(response, function (index, city) {
                                $('#cityDropdown').append($('<option>').val(city.Id).text(city.Name));
                            });
                        }
                    });
                }
            });
        });
    </script>
}
 *@